<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Página de Inicio</title>
  <link rel="icon" type="image/png" href="/icons/favicon.png">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <main class="landing-main">
    <div class="container-index">
      <h1>Proyecto JS</h1>
      <p>Este proyecto forma parte de la Diplomatura en Desarrollo FullStack dictada por el Nodo Tecnologico -
        Catamarca.</p>
      <p>WorldApp es una aplicación web desarrollada con Node.js, Express, MongoDB y EJS, que permite gestionar un
        listado de paises. Podés crear, editar y eliminar paises, accediendo a una interfaz simple e intuitiva.
      </p>
      <p>Haciendo clic en "Iniciar" podrás acceder al panel principal y comenzar a explorar o gestionar tu lista
        personalizada de paises.</p> <br>
      <button class="bnt-new" onclick="window.location.href='/dashboard'">Iniciar</button>
    </div>
  </main>

</body>

</html>